body {
    backgroung-image:url("https://i.pinimg.com/originals/3b/8c/7d/3b8c7d48a1fd02d9320e9e34e37e10b8.jpg");
    background-size: 1250px;
    }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(172, 168, 168);
    border-width: 4px;
    width: 5%;
   }
img {
    height: 200px;
    } 
h1{
    color: #27374D;
}
h3{
    color:#27374D;
}
